apiVersion: lemming.openconfig.net/v1alpha1
kind: Lemming
metadata:
  name: lemming-sample
spec:
  image: us-west1-docker.pkg.dev/openconfig-lemming/release/lemming:ga
  initImage: us-west1-docker.pkg.dev/kne-external/kne/networkop/init-wait:ga
  command: "/lemming/lemming"
  args: ["--alsologtostderr"]
  ports:
    gnmi:
      innerPort: 6030
      outerPort: 6030
    gribi:
      innerPort: 6030
      outerPort: 6031
  tls:
    selfSigned:
      commonName: "lemming-sample"
      keySize: 2048
